p {
  font-size: 2.5vmin;
}

h1 {
  font-size: 4vmin;
}

.Main {
  text-align: center;
  margin-left: 25vmin;
}

.Main-header {
  background-color: #faedab; /* Memes in Sylvan */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Cat-logo {
  height: 3vmin;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.Sidebar {
  width: 25vmin;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #420; /* Dankest colour ever */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.Sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3vmin;
  color: #faedab;
  display: block;
}

.Sidebar a:hover {
  color: #696969;
  background-color: rgb(6, 6, 6);
}

.Porem {
  height: 20vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* COMPONENT CSS */
.Contact-logo {
  height: 15vmin;
  margin: 10px;
}

.Hobby-text p{
  margin-left: 10vmin;
  margin-right: 10vmin;
}

.Bio-text p{
  margin-left: 10vmin;
  margin-right: 10vmin;
}

.Hobby-text a{
  color: #696969;
  text-decoration: none;
  cursor: pointer;
}

.Hobby-text a:hover{
  color: #faedab;
  background: #696969;
  border-radius: 8px; 
}

.Scrum-logo {
  height: 25vmin;
}

.OCA-logo {
  height: 20vmin;
}

.That-boy {
  height: 30vmin;
}

.D20 {
  animation: App-logo-spin infinite 10s linear;
  height: 10vmin;
  pointer-events: none;
}

.Certdiv1 {
  float: left;
  margin: 3vmin;
}

.Certdiv2 {
  margin: 3vmin;
}

.Werk-div {
  margin: 3vmin;
  width: 40vmin;
}

.Opleiding-div {
  margin: 3vmin;
  width: 40vmin;
}

.Programming-language-logos {
  margin: 5vmin;
}

.Programming-language-logos img{
  height: 10vmin;
  margin: 5px;
}

progress[value]{
  -webkit-appearance: none;
  appearance: none;

  width: 40vmin;
  height: 14px;
}

progress[value]::-webkit-progress-bar{
  background-color: #696969;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}

progress[value]::-webkit-progress-value{
  background-image: 
    -webkit-linear-gradient(
      -45deg,
      transparent 33%, rgba(0,0,0,1) 33%,
      rgba(0,0,0,.1) 66%, transparent 66%),
    -webkit-linear-gradient(top, rgba(255,255,255,.25), rgba(0,0,0,.25)),
    -webkit-linear-gradient(left, red, red);
  border-radius: 6px;
  background-size: 35px 20px, 100% 100%;
}

@supports (display: flex){
  @media screen and (min-width: 639px) {
    .Werk-div {
      float: left;
    }
    .Opleiding-div {
      float: right;
    }
    .Hobby-text {
      margin-left: 20vmin;
      margin-right: 20vmin;
    }
    .Bio-text {
      margin-left: 20vmin;
      margin-right: 20vmin;
    }
  }
}